body
{
  color: white;
  background: #e92929;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#gestures
{
  color: black;
}
.guesture
{
  font-size: 40px;
}
.guesture_name
{
  font-size:48px;
}
.heading
{
  font-size: 25px;
  border-radius: 10px;
  letter-spacing: 7px;
}